<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head.ejs'); %>
<body>
    <%- include('./partials/nav.ejs'); %>
    <nav>
      
    <div class="blogs content">
        <h2>Sorry<br> Page not found</h2>
    </div>
    </nav>
    <%- include('./partials/footer.ejs'); %>

</body>
</html>